[Desktop Entry]
Version=1.1
Type=Application
Name=Applications
Comment=Open GNOME Shell applications list.
NoDisplay=true
Icon=net.launchpad.plank.AppsLauncher
Exec=dbus-send --session --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:'Main.overview.showApps();'
Actions=Overview;Preferences;

[Desktop Action Overview]
Name=Overview
Exec=dbus-send --session --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:'Main.overview.show();'

[Desktop Action Preferences]
Name=Preferences
Exec=plank --preferences
